# Get database url form https://neon.tech
DATABASE_URL=postgresql://

# Better auth secret value used for encryption and hashing. It must be at least 32 characters and generated with high entropy.
# Click the button below to generate one. You can also use `openssl rand -base64 32` to generate one.
# Otherwise you directly go to this link https://better-auth.com/docs/installation#set-environment-variables
# and click on 'Generate Secret' button get the unique secret.
BETTER_AUTH_SECRET='<secret>'

# Make sure your app is running on the same port mentioned over here.
BETTER_AUTH_URL='http://localhost:3000' # Base URL of your app